<div class="container">
  <legend>create Item</legend>
  <form>
    <div class="mb-3">
      <label for="txtName" class="form-lable">Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="formdata.name"
        class="form-control"
        id="textName"
      />
    </div>
    <div class="mb-3">
      <label for="txtprice" class="form-lable">Price</label>
      <input
        type="number"
        name="price"
        [(ngModel)]="formdata.price"
        class="form-control"
        id="txtprice"
      />
    </div>
    <div class="mb-3">
      <label for="txtQuantity" class="form-lable">Quantity</label>
      <input
        type="number"
        name="quantity"
        [(ngModel)]="formdata.quantity"
        class="form-control"
        id="txtQuantity"
      />
    </div>
    <button
      type="button"
      routerLink="/fruit/home"
      (click)="create()"
      class="btn btn-primary"
    >
      Create
    </button>
  </form>
</div>
